<!-- Loop over each object in the projects array -->
{{#if logged_in}}
    <div class="container is-flex">
  {{#each products as |product|}}
    <section class='card'>
      <a href='/product/{{id}}'>
      <h3 class='title'>{{product.product_name}}</h3>
      </a>
        <img
          src='{{product.image_link}}'
          alt='{{product.product_name}}'
          srcset=''
        />
        <h3>{{artist.artist_name}}</h3>
    </section>
  {{/each}}
    </div>
{{else}}
  <div class='has-text-centered'>
    <div class='image is-inline-block'>
      <img class='is-relative' src='/img/enter.jpg' />
    </div>
  </div>
  <script>
    typed_word = ''; document.addEventListener('keypress', function (event) {
    typed_word = typed_word + event.key; if (typed_word === 'password') {
    window.location.replace('/login'); } });
  </script>
{{/if}}