{{#if logged_in}}
    <div class="container is-flex is-justify-content-space-evenly is-flex-wrap-wrap is-multiline">
  {{#each products as |product|}}
    <section class="card mx-2">
      <a href='/products/{{id}}'>
      <h3 class='has-text-success-dark title'>{{product.product_name}}</h3>
        <img
          src='{{product.image_link}}'
          alt='{{product.product_name}}'
          srcset=''
        />
        <h3 class="has-text-success">{{artist.artist_name}}</h3>
      </a>
    </section>
  {{/each}}
    </div>
{{else}}
  <div class='has-text-centered'>
    <div class='image is-inline-block'>
      <img class='is-relative' src='/img/enter.jpg' />
    </div>
  </div>
  <script>
    typed_word = ''; document.addEventListener('keypress', function (event) {
    typed_word = typed_word + event.key; if (typed_word === 'password') {
    window.location.replace('/login'); } });
  </script>
{{/if}}