<div class='is-flex-direction-row has-text-success-dark'>
  <div>
    <h2 class='title mb-6 has-text-centered'>{{name}}'s totally legitimate art
      dealings
    </h2>
  </div>
  {{#if products.length}}
    <div class='has-text-success-dark container'>
      <h3 class='title'>Current works for sale:</h3>

      {{#each products as |product|}}
        <div class='card'>
          <div class='is-flex-direction-column'>
            <h3 class='title mb-2'>{{product.product_name}}</h3>
          </div>
          <img
            src='{{product.image_link}}'
            alt='{{product.product_name}}'
            srcset=''
          />
          <div>
            <button class='button is-link' data-id='{{product.id}}'>I'm keeping
              it</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
  {{! need to see if showing transaction history is possible }}
  {{! <div>
    <h3>Amount sold:</h3>
  </div> }}
  {{! button to go to posting art page }}


<br>
<br>
<br>

  <div class="has-text-success-dark container">
    <h3 class="title mb-6 has-text-centered">Post your new "acquired" art for sale:</h3>
  </div>
    <form class="card has-text-centered" id="submit-art">
      <div>
        <label for="product-name">Name of the painting:</label>
        <input class="form-input" type="text" id="product-name" name="product-name" />
      </div>
      <div>
        <label for="product-price">Price:</label>
        <input class="form-input" type="number" id="product-price" name="product-price" />
      </div>
      <div>
        <label for="product-desc">description:</label>
        <textarea class="form-input" id="product-desc" name="product-desc"></textarea>
      </div>
      <div>
        <label for="artist_name">Name of the Artist  :</label>
     <select name="" id="artistDropdown">
      {{#each artists as |artist|}}
      <option value="{{artist.id}}">
        {{artist.artist_name}}
      </option>
      {{/each}}
      </select>
      </div>
      <div>
        <label for="image-link">link to a picture of the artwork:</label>
        <textarea class="form-input" id="image-link" name="image-link"></textarea>
      </div>
    <div>
      <button class='button is-link mt-5' type='submit'>Add "new" art for sale</button>
    </div>
    </form>
  </div>
</div>
<script src='./js/profile.js'></script>